/* Google Fonts */

@import url('https://fonts.googleapis.com/css?family=Niconne&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.body-wrapper {
  height: 685px;
  display: flex;
}

.sidebar {
  width: 30%;
  background: url('./images//parchment.png');
  background-color: #2b2202;
  padding: 5rem 3rem;
  font-family: 'Niconne', cursive; 
  font-size: 1.15rem;
}

.game-board {
  display:flex;
  width: 100%;
  padding: 1rem;
}

.Entrance {
  background: url('./images/Rooms/entrance.jpg');
  background-size: cover;

}

.Volcano {
  background: url('./images/Rooms/volcano.jpg');
  background-size: cover;

}

.Waterfall {
  background: url('./images/Rooms/waterfall.jpg');
  background-size: cover;

}

.Desert {
  background: url('./images/Rooms/desert.jpg');
  background-size: cover;

}

.Castle {
  background: url('./images/Rooms/treasury.jpg');
  background-size: cover;

}

.Chamber {
  background: url('./images/Rooms/chamber.jpg');
  background-size: cover;
}

.Obsidian {
  background: url('./images/Rooms/doorway.jpg');
  background-size: cover;
}

.Treasury {
  background: url('./images/Rooms/treasury.jpg');
  background-size: cover;
}

.River {
  background: url('./images/Rooms/river.jpg');
  background-size: cover;
}

.Cave {
  background: url('./images/Rooms/caves-background-1.jpg');
  background-size: cover;
}

.Rapids {
  background: url('./images/Rooms/river.jpg');
  background-size: cover;
}

.Dust {
  background: url('./images/Rooms/dustDevil.jpg');
  background-size: cover;
}

.Sandy {
  background: url('./images/Rooms/desertHills.jpg');
  background-size: cover;
}

.Abandoned {
  background: url('./images/Rooms/crates.jpg');
  background-size: cover;
}

.Stairs {
  background: url('./images/Rooms/stairs.jpg');
  background-size: cover;
}

.Chest {
  background: url('./images/Rooms/treasury.jpg');
  background-size: cover;
}

.left-column {
  padding: 20px;
  margin: 1%;
  background-color: rgb(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right-column {
  width: 48%;
  height: 98%;
  margin: 1%;
  background-color: rgb(0,0,0,0.5);

  display: flex;
  flex-direction:column
}

.top-half {
  height: 48%;
  margin: 2%;
  background-color: rgb(256,256,256,0.5);
  padding: 2rem;

}

.bottom-half {
  height: 48%;
  margin: 2%;
  background-color: rgb(256,256,256,0.5);
  padding: 2rem;

}

.header {
  height: 75px;
  width: 100%;
  background: url('./images/navbar.jpg');
}

.nav-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 100%;
}

.nav-bar h2 {
  color: white;
  font-family: 'Niconne', cursive;
  font-size: 2rem;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin: 0 10px;
  font-size: 1.25rem;
  color:white;
  font-family: 'Niconne', cursive;
  font-size: 1.8rem;
}

/* Health Bar */

.progress-bar {
  position: relative;
  height: 20px;
  width: 350px;
  border-radius: 50px;
  border: 1px solid #333;
}

.filler {
  background: #1DA598;
  height: 100%;
  border-radius: inherit;
  transition: width .2s ease-in;
}

button {
  margin-right: 10px;
  padding: 7px 12px;
  font-size: 14px;
  background: #d14836;
  color: white;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  outline: 0;
}

.kill-margin {
  margin: 0;
}

.equipped-items {
  display: flex;
  padding: 0;
}

.equipped-items img {
  padding: 0.25rem;
  margin: 0 6px;
  width: 50px;
  height: 50px;
}

.item-slot {
  width: 75px;
  height:75px;
  border: 1px solid black;
  background-color: rgb(0,0,0,0.25);
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 25px;
  height:25px;
  display:flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: url('./images//Rooms/roomFloor.jpg');
  left: 0;
  top: 0;
}

.room {
  width: 75px;
  height: 75px;
  background: url('./images//Rooms/roomFloor.jpg');
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  font-size: 11px;
  text-align: center;
  color: white;
}
.map-wrapper {
  width: 600px;
  height: 475px;
  background: url('./images//mapBackground.png');
  background-size: cover;
  position: relative;
}

.map-header {
  font-size: 26px;
  position: absolute;
  top: 40px;
  left: 50px;
  font-family: 'Niconne', cursive;

}